<footer class="pt-4 my-md-5 pt-md-5 border-top p-5">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2"
           src="/staff/resources/skcac_header-3.png"
           alt=""
           width="83"
           height="83">
      <small class="d-block mb-3 text-muted">&copy; Jaca Development 2017-2018</small>
      <!-- === Bootstrap Size Helper =============================================================================== -->
      <div class="col text-muted">
        <span class="d-inline d-sm-none">
          <span class="d-none d-md-inline">Bootstrap Size:</span>
          <span class="badge badge-secondary">XS</span>
        </span>
        <span class="d-none d-sm-inline d-md-none">
          <span class="d-none d-md-inline">Bootstrap Size:</span>
          <span class="badge badge-secondary">SM</span>
        </span><span class="d-none d-md-inline d-lg-none">
          <span class="d-none d-md-inline">Bootstrap Size:</span>
          <span class="badge badge-secondary">MD</span>
        </span>
        <span class="d-none d-lg-inline d-xl-none">
          <span class="d-none d-md-inline">Bootstrap Size:</span>
          <span class="badge badge-secondary">LG</span>
        </span>
        <span class="d-none d-xl-inline">
          <span class="d-none d-md-inline">Bootstrap Size:</span>
          <span class="badge badge-secondary">XL</span>
        </span>
      </div>
      <!-- === Bootstrap Size Helper End =========================================================================== -->
    </div>

    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted"
               href="https://www.skcacindustries.com/">SKCAC Homepage</a></li>
        <li><a class="text-muted"
               href="https://www.skcacindustries.com/employment-services/">Employment Services</a></li>
        <li><a class="text-muted"
               href="https://www.skcacindustries.com/production-services/">Production Services</a></li>
        <li><a class="text-muted"
               href="https://www.skcacindustries.com/resources-links/">Other Resources</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted"
               href="#">Team</a></li>
        <li><a class="text-muted"
               href="#">Locations</a></li>
        <li><a class="text-muted"
               href="#">Privacy</a></li>
        <li><a class="text-muted"
               href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>