<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-uppercase ">
        <a class="navbar-brand text-black" href="http://jacadevelopment.greenriverdev.com/index.php">
            <img src="http://jacadevelopment.greenriverdev.com/Abdalla/LandingPages/mini_logo.png"  width="100px" height="60px" alt="logo" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-item nav-link active navbar-brand" href="http://www.skcac.com/index.htm">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active navbar-brand" href="http://www.skcac.com/employment_services.htm">Employment Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active navbar-brand" href="http://www.skcac.com/production_services.htm">Packaging & Assembly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active navbar-brand" href="http://www.skcac.com/donate.htm">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active navbar-brand" href="http://www.skcac.com/resources_links.htm">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
</div>